@use "global" as *;

.archive-voice{
    position: relative;
}

.archive-voice::before{
    content: "";
    background: url(../images/common/background/fish-sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    position: absolute;
    top: -1.4%;
    left: calc(50% - min(rem(172),48%));
    z-index: -1;
    @include mq(md){
        max-width: rem(300);
        height: rem(138);
        position: absolute;
        top: -3.6%;
        left: calc(50% - min(rem(620),48%));
    }
}

.archive-voice__body{
    margin-top: rem(43);
    @include mq(md){
        margin-top: rem(40);
    }
}

