@use "global" as *;

.archive-tab{
    position: relative;
}

.archive-tab::before{
    content: "";
    background: url(../images/common/background/fish-sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    position: absolute;
    top: -1.4%;
    left: calc(50% - min(rem(172),48%));
    z-index: -1;
    @include mq(md){
        max-width: rem(300);
        height: rem(138);
        position: absolute;
        top: -3.6%;
        left: calc(50% - min(rem(620),48%));
    }
}

.archive-tab__tabs{
    display: grid;
    grid-template-columns: repeat(auto-fit,rem(162));
    column-gap: rem(21);
    row-gap: rem(16);
    justify-content: center;
    @include mq(md){
        grid-template-columns: repeat(4,rem(162));
        gap: rem(32);
        justify-content: left;
    }
}

.archive-tab__tab{


}

.archive-tab__tab.archive-tab__tab--green a,
.archive-tab__tab a:hover,
.archive-tab__tab a:active{
    display: inline-block;
    background: $green-accent;
    color: $white;
    padding: rem(5);
    max-width: rem(162);
    width: 100%;
    font-size: rem(14);
    text-align: center;
    line-height: 1.57142857;
}

.archive-tab__tab a{
    display: inline-block;
    background: $white;
    color: $green-accent;
    border: 1px solid $green-accent;
    padding: rem(5);
    max-width: rem(162);
    width: 100%;
    font-size: rem(14);
    white-space: nowrap;
    text-align: center;
    line-height: 1.57142857;


}
