@use "global" as *;


.archive-campaign-card{
    
}

.archive-campaign-card__content{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: rem(40);
    padding-left: rem(33);
    padding-right: rem(33);
    @include mq(md){
        grid-template-columns: repeat(2,1fr);
        row-gap: rem(80);
        padding-left: 0;
        padding-right: 0;
    }

}

.archive-campaign-card__contain.campaign-card__contain{
    @include mq(md){
    padding: rem(21) rem(24) 0 rem(24);
    }
}

.archive-campaign-card__title.campaign-card__title{
    @include mq(md){
    font-size: rem(24);
    }
}

.archive-campaign-card__contain-bottom.campaign-card__contain-bottom::before{
    @include mq(md){
    top: -24%;
    }
}

.archive-campaign-card__cards.campaign__card{
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        max-width: rem(520);
        width: 100%;
    }
}

.archive-campaign-card__card.campaign-card{
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        max-width: rem(520);
        width: 100%;
    }
}

.archive-campaign-card__wrap {
    display: none;
    @include mq(md){
        display: block;
        padding-left: rem(24);
        padding-right: rem(24);
        padding-bottom: rem(42);
    }
}

.archive-campaign-card__text {
    font-size: rem(16);
    line-height: 1.5;
    @include mq(md){
        margin-top: rem(23);
    }

}

.archive-campaign-card__list {
    margin-top: rem(32);
    text-align: center;
}

.archive-campaign-card__date {
    line-height: 1.125;
    color: $green-accent;
    font-weight: $bold;
    font-family: 'Lato', sans-serif;;
}

.archive-campaign-card__post {
    margin-top: rem(7);
    font-size: rem(14);
    color: $green-accent;
}

.archive-campaign-card__btn {
    text-align: center;
    margin-top: rem(13);
}



