@use "global" as *;

.blog {
    @include mq(md){
    padding-top: rem(100);
    background: url(../images/common/blog/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100vw rem(500);
    aspect-ratio: 1440 / 500;
    position: relative;
    }

}

.blog::before{
    @include mq(md){
    content: "";
    background: url(../images/common/background/fish-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(437);
    height: rem(201);
    position: absolute;
    left: calc(50% - min(rem(620),48%));
    top: 3%;
    }
}

.blog__inner.inner{
    padding-left: rem(20);
    padding-right: rem(20);
    @include mq(md){
        padding-left: rem(25);
        padding-right: rem(25);
    }
}

.blog__items {
    display: grid;
    gap: rem(40);
    margin-top: rem(24);
    @include mq(md){
        grid-template-columns: repeat(3,1fr);
        margin-top: rem(80);
        row-gap: rem(80);
        column-gap: rem(40);
    }
}


.blog__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}

.blog__item:hover{
    transform: translateY(rem(-10));
    transition: all 0.5s;
}