@use "global" as *;

.blog {
    @include mq(md){
    background: url(../images/common/blog/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    width: 100%;
    }
    

}

.blog__inner {
    margin-top: rem(81);
    
    @include mq(md){
        margin-top: 0;
        padding-top: rem(100);
    }
}



.blog__items {
    display: grid;
    gap: rem(40);
    margin-top: rem(24);
    @include mq(md){
        grid-template-columns: repeat(3,1fr);
        margin-top: rem(80);
        row-gap: rem(80);
        column-gap: rem(31);
    }
}

.blog__item{
    margin-left: rem(5);
    margin-right: rem(5);
}


.blog__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}

