@use "global" as *;

.campaign__cards{
    width: 100%;
    max-width: rem(280);
    @include mq(md){
        max-width: rem(333);
    }
}

.campaign__container{
    position: relative;
    margin-right: calc(50% - 50vw);
    margin-top: rem(28);

    @include mq(md){
        margin-top: rem(40);
        
    }
}



.campaign__btn{
    text-align: center;
    margin-top: rem(35);
    @include mq(md){
        margin-top: rem(79);
    }
}

.campaign__swiper{
    padding-bottom: rem(5);
    height: auto;
}


//ナビゲーション
.swiper-button{
    @include mq(md){
    position: absolute;
    top: 0;
    right: 30%;
}
}
.swiper-button-next{
    @include mq(md){
    width: rem(80);
    height: rem(80);
    top: rem(-82);
    right: -12.4rem;
    color: transparent;
    }
}
.swiper-button-prev{
    @include mq(md){
    width: rem(80);
    height: rem(80);
    top: rem(-82);
    left: -2.6rem;
    color: transparent;
    }
}



.swiper-button-next::after{
    @include mq(md){
    content: "";
    background-image: url(../images/common/campaign/campaign-next.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(80);
    height: rem(80);
    }

}

.swiper-button-prev::after{
    @include mq(md){
    background-image: url(../images/common/campaign/campaign-prev.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(80);
    height: rem(80);
    }
}