@use "global" as *;

.home{
    position: relative;
    @include mq(md){
    
        }
}


.home::before{
    content: "";
    background: url(../images/common/background/fish-sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    position: absolute;
    top: -0.3%;
    left: calc(50% - min(rem(172),48%));
    z-index: -1;
    @include mq(md){
        max-width: rem(300);
        height: rem(138);
        position: absolute;
        top: -2.2%;
        left: calc(50% - min(rem(620),48%));
    }
}

.home__inner.inner{
    padding-left: rem(20);
    padding-right: rem(20);
    @include mq(md){
        padding-left: rem(15);
        padding-right: rem(15);
        max-width: rem(1110);
    }
}

.home__layout{
    @include mq(md){
        display: flex;
        column-gap: rem(80);
    }
}

.home__main{
    @include mq(md){
    width: 73%;
    }
}



