@use "global" as *;

.home-archive__tab{
    margin-top: rem(27);
}

.home-archive__accordion summary{
    font-size: rem(24);
    color: $green-accent;
}

.home-archive__accordion-items{
    margin-left: rem(30);
}

.home-archive__accordion-item summary{
    font-size: rem(24);
    color: $green-accent;
}

.home-archive__accordion-item+.home-archive__accordion-item{
    margin-top: rem(4);
}
