@use "global" as *;

.home-sub__inner.inner{
    padding-left: rem(20);
    padding-right: rem(20);
    @include mq(md){
        padding-left: 0;
        padding-right: 0;
    }
}

.home-sub{
    @include mq(md){
    width: 30%;
    }
}