@use "global" as *;

.js-modal-open{
    overflow: hidden;
}

// .js-modal-fadein{
//     animation: fadeIn 0.3s;
// }

// @keyframes fadeIn {
//     from { opacity: 0; }
//     to { opacity: 1; }
//   }