    @use "global" as *;

.nav {
  background-color: $green-accent;
}

.nav__items {
    display: flex;
    justify-content: space-around;
    padding-bottom: rem(20);
    @include mq(md){
        margin-top: rem(25);
        justify-content: normal;
    }
}

.nav__items-right {
    margin-left: rem(14);
    @include mq(md){
        margin-left: rem(22);
    }
}

.nav__item {
    font-size: rem(16);
    font-weight: $bold;
    color: $white;
    line-height: 1.125;
    margin-top: rem(40);
    @include mq(md){
        white-space: nowrap;
        margin-top: 0;
    }
    
}
.nav__item + .nav__item {
    @include mq(md){
    margin-top: rem(40);
    }
}

.nav__sub-items + .nav__item{
    @include mq(md){
        margin-top: rem(40);
    }
}

.nav__item a {
    display: block;
    font-size: rem(16);
    font-weight: $bold;
    color: $white;
    line-height: 1.125;
    position: relative;
}

.nav__item a::before {
    content: "";
    background: url(../images/common/nav/nav-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(18);
    height: rem(18);
    position: absolute;
    top: 0;
    left: rem(-22);

}

.nav__item a:hover{
    opacity: 0.5;
}

.nav__sub-items {
    @include mq(md){
        white-space: nowrap
    }

}

.nav__sub-item {
    font-size: rem(16);
    font-weight: $normal;
    color: $white;
    line-height: 1.125;
    margin-top: rem(24);
}

.nav__sub-item a {
    display: block;
}

.nav__sub-item:hover{
    opacity: 0.5;
}

.nav__items-left {
    margin-left: rem(21);
    @include mq(md){
        margin-left: rem(142);
    }
}


//pc-footer

.nav__footer-pc {
    @include mq(md){
        display: flex;
    }
}

.nav__footer-content:not(:first-child){
    @include mq(md){
    margin-left: rem(142);
    }
}