@use "global" as *;

.page-faq{
    position: relative;
}

.page-faq::before{
    content: "";
    background: url(../images/common/background/fish-sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    position: absolute;
    top: rem(-24);
    left: calc(50% - min(rem(172),48%));
    z-index: -1;
    @include mq(md){
        max-width: rem(300);
        height: rem(138);
        position: absolute;
        top: rem(-70);
        left: calc(50% - min(rem(620),48%));
    }
}

.page-faq__inner.inner{
    @include mq(md){
    max-width: rem(750);
    }
}

.page-faq__item+.page-faq__item{
    margin-top: rem(40);
}

.page-faq__accordion{
    width: 100%;
    background: $green-accent;
    color: $white;
    padding: rem(16);
    cursor: pointer;
    display: block;
    position: relative;
    @include mq(md){
        font-size: rem(20);
        padding: rem(25) rem(40);
    }
}

.page-faq__accordion::after{
    content: "";
    background-color: $white;
    position: absolute;
    width: rem(28);
    height: rem(1);
    transform: rotate(180deg);
    top: 50%;
    right: 5%;
    transition: all .3s ease-in-out;
    // display: none;
    @include mq(md){
        right: 6%;
    }
}
.page-faq__accordion::before{
    content: "";
    background-color: $white;
    position: absolute;
    width: rem(28);
    height: rem(1);
    top: 50%;
    right: 5%;
    transition: all .3s ease-in-out;
    @include mq(md){
        right: 6%;
    }
}

/* 縦線(クリック後) */
.page-faq__accordion.open::after {
    transform: rotate(90deg);
    
  }
  

.page-faq__accordion-content {
    border: 1px solid $green-accent;
    padding: rem(23) rem(16);
    color: $green;
    line-height: 1.4375;

    @include mq(md){
        padding: rem(39);
        margin-top: rem(16);
    }
}

