@use "global" as *;

html{
    overflow-x: hidden;
}
body{
    position: relative;
    overflow-x: hidden;
}

.page-top {
    width: rem(48);
    height: rem(48);
    position: fixed;
    bottom: rem(15);
    right: rem(15);
    z-index: 200;
    @include mq(md){
        width: rem(80);
        height: rem(80);
        bottom: rem(20);
        right: rem(20);
    }
}

.page-top_btn{

}
