@use "global" as *;

.page-contact-thanks{
    position: relative;
}

.page-contact-thanks::before{
    content: "";
    background: url(../images/common/background/fish-sub.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    position: absolute;
    top: -14%;
    left: calc(50% - min(rem(172),48%));
    z-index: -1;
    @include mq(md){
        max-width: rem(300);
        height: rem(138);
        position: absolute;
        top: -57%;
        left: calc(50% - min(rem(620),48%));
    }
}

.page-contact-thanks__content{
    max-width: rem(626);
    margin: auto;
}
.page-contact-thanks__content p{
    text-align: center;
    line-height: 1.3;
}

.page-contact-thanks__content{
    p+p{
    margin-top: rem(40);
    }
}