@use "global" as *;

.price {
    background-color: $light-green;
    padding-top: rem(80);
    padding-bottom: rem(83);
    @include mq(md){
        padding-top: rem(100);
        padding-bottom: rem(104);
        position: relative;
    }
}


.price::after {
    @include mq(md){
    content: "";
    background-image: url(../images/common/background/fish-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: rem(437);
    width: 100%;
    height: rem(200);
    position: absolute;
    bottom: 5%;
    left: calc(50% - min(rem(620),48%));
    }
}


.price__container {
    @include mq(md){
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

}

.price__img {
    margin-top: rem(28);
    @include mq(md){
        margin-top: rem(40);
        margin-left: rem(93);
        max-width: rem(492);
        width: 100%;
    }
}

.price__img img {
    aspect-ratio: 345 / 227;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 492 / 746;
    }
}


.price__items {
    @include mq(md){
        width: 100%;
    }
}

.price__item {
    margin-top: rem(41);
}
.price__item + .price__item {
    margin-top: rem(40);
}

.price__item-title {
    color: $green;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.5;
    position: relative;
    padding-bottom: rem(3);
    @include mq(md){
        padding-bottom: rem(2);
    }
}
.price__item-title::after {
    content: "";
    width: 100%;
    height: rem(1);
    background-color: $green-accent;
    position: absolute;
    bottom: rem(-3);
    left: 0;
    @include mq(md){
        bottom: 0;
    }
}

.price__item-lists {
    display: flex;
    justify-content: space-between;
    margin-top: rem(8);
}


.price__item-menu {
    color: $green;
    font-size: rem(14);
    font-weight: $normal;
    line-height: 1.71428571;
    @include mq(md){
        letter-spacing: 0.155em;
        line-height: 1.75;
    }
}

.price__item-price {
    color: $green;
    font-size: rem(14);
    font-weight: $normal;
    line-height: 1.71428571;
    margin-left: rem(20);
    @include mq(md){
        letter-spacing: 0.1em;
}
}


.price__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}



