@use "global" as *;

.voice {

}

.voice__inner {
    padding-top: rem(80);
    padding-bottom: rem(80);
    @include mq(md){
        padding-top: rem(140);
        padding-bottom: rem(140);
        position: relative;
    }
}

.voice__inner::before{
    @include mq(md){
        content: "";
        background: url(../images/common/background/fish-right.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(300);
        width: 100%;
        height: rem(138);
        position: absolute;
        top: 2%;
        left: -3.8%;
    }
}
.voice__inner::after{
    @include mq(md){
        content: "";
        background: url(../images/common/background/tatsu.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(70);
        width: 100%;
        height: rem(162);
        position: absolute;
        bottom: 8%;
        right: 2%;
    }
}

.voice__title {

}

.voice__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md){
        flex-direction: row;
        gap: rem(40);
    }
}

.voice__item {
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(30);
    }
}

.voice__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}

