@use "global" as *;


.voice__inner {
    padding-top: rem(84);
    padding-bottom: rem(84);
    @include mq(md){
        padding-top: rem(144);
        padding-bottom: rem(144);
        position: relative;
    }
}

.voice__inner::before{
    @include mq(md){
        content: "";
        background: url(../images/common/background/fish-right.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(300);
        width: 100%;
        height: rem(138);
        position: absolute;
        top: 2.8%;
        left: -4.9%;
    }
}
.voice__inner::after{
    @include mq(md){
        content: "";
        background: url(../images/common/background/tatsu.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(70);
        width: 100%;
        height: rem(162);
        position: absolute;
        bottom: 8%;
        right: 2.3%;
    }
}


.voice__items {
    margin-top: rem(43);
    display: grid;
    gap: rem(40);
    @include mq(md){
        grid-template-columns: repeat(2,1fr);
        margin-top: rem(30);
        row-gap: rem(80);
    }
}


.voice__btn {
    margin-top: rem(38);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}

