@use "global" as *;


.voice {
    @include mq(md){
        position: relative;
    }
}

.voice::before{
    @include mq(md){
        content: "";
        background: url(../images/common/background/fish-right.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(120);
        width: 100%;
        height: rem(55);
        position: absolute;
        top: -19%;
        left: calc(50% - min(rem(620),48%));
    }
}
.voice::after{
    @include mq(md){
        content: "";
        background: url(../images/common/background/tatsu.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: rem(70);
        width: 100%;
        height: rem(162);
        position: absolute;
        bottom: -11.5%;
        right: calc(50% - min(rem(540),48%));
    }
}


.voice__items {
    margin-top: rem(43);
    display: grid;
    gap: rem(40);
    @include mq(md){
        grid-template-columns: repeat(2,1fr);
        margin-top: rem(30);
        row-gap: rem(80);
    }
}


.voice__btn {
    margin-top: rem(38);
    text-align: center;
    @include mq(md){
        margin-top: rem(80);
    }
}

